.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem 2rem;
  background: linear-gradient(
    45deg,
    var(--blue) 70%,
    var(--pink) 90%,
    var(--yellow) 95%
  );
}
.navbar-links__cart {
  position: relative;
}
.navbar-links__cart #cardCount {
  color: white;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 50%;

  position: absolute;
  top: -10px;
  left: -4px;
  font-size: 0.8rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.3rem;
}
.navbar-header {
  flex: 2;
}
.navbar-header h1 {
  cursor: pointer;

  width: fit-content;
}

.navbar-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar-drawer {
  display: none;
}

.navbar-links a,
.navbar-links p,
i {
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-shadow: none;
}
.navbar-links i,
.navbar-drawer i {
  font-size: 1.5rem;
}

.navbar-links a:link {
  text-decoration: none;
}

.navbar h1 {
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 720px) {
  .navbar-header {
    flex: 1;
  }

  .navbar-links {
    flex: 1;
  }
}
@media only screen and (max-width: 500px) {
  .navbar-header {
    flex: 1;
  }

  .navbar-links {
    display: none !important;
  }
  .navbar-drawer {
    display: flex;
  }
}
